body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

label {
  margin-left: 10px;
}

input {
  width: 100%;
  height: 100%;
  margin: 10px;
  padding: 10px;
  background-color: #292c2b31;
  border: none;
  outline: none;
}

button {
  margin-left: 10px;
  width: 106%;
  height: 100%;
}