body{
  display: flex;
  justify-content: center;
  align-items: center;
}

#content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 500px;
  background: red;
}
.randomColor{
  height: 24.5%;
  width: 24.7%;
  border:solid 1px #000;
}